@model Assignment.Shared.RatingRespone

<h3>
    @for (int i = 0; i < Model.Rate; i++)
    {
        <i class="fas fa-star" style="color: #ffdd59"></i>
    }
</h3>
<label>@Convert.ToDateTime(Model.PublishDate).ToString("dd-MM-yyyy")</label>
<p>@Model.Comments</p>